<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo" href="index.html"><img src="../assets/images/logo.jpg" alt="logo" /></a>
      <button class="navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" type="button"
        data-toggle="minimize">
        <!-- <span class="typcn typcn-th-menu"></span> -->
      </button>
    </div>

    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end icon-bar">
      <header class="main-header">
        <!-- <a class="logo" href="#">my site</a> -->
        <div class="menu">
          <ul class="main-nav">
            <li class="dropdown icon">
              <a href="#">Admin</a>
              <ul class="drop-nav">
                <li><a routerLink="/admin">Dashboard</a></li>
                <li><a href="https://kyoyu.nectechnologies.in/sites/CabManagement/SitePages/Home.aspx">Cab Management
                    System</a></li>
                <li class="flyout">
                  <a href="#">Travel Management System</a>
                  <ul class="flyout-nav">
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/TravelManagementSystem/SitePages/TravelSystem.aspx">TMS
                        Home</a></li>
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/TravelManagementSystem/SitePages/TravelReqHome.aspx">Travel
                        Request</a></li>
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/TravelManagementSystem/SitePages/TravelAdvanceHome.aspx">Travel
                        Advance</a></li>
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/TravelManagementSystem/SitePages/TravelSettlement/RequestTSS.aspx">Travel
                        Settlement</a></li>
                  </ul>
                </li>
                <li><a href="https://kyoyu.nectechnologies.in/sites/vms/SitePages/Home.aspx">Visitor Management
                    System</a>
                </li>
                <li><a
                    href="https://kyoyu.nectechnologies.in/sites/BU/Administration/SitePages/IDCardCreation.aspx">Company
                    ID card</a></li>
                <li><a
                    href="https://kyoyu.nectechnologies.in/sites/FoodCouponManagement/SitePages/FoodCouponRequest.aspx">Food
                    Coupon Management System</a></li>
                <li><a href="https://hotdesk.nectechnologies.in:2443/Login.aspx?UN=a29tYWwudGFra2Fy">Hot Desk Tool</a>
                </li>
                <li><a
                    href="https://kyoyu.nectechnologies.in/sites/TravelPortal/TravelRequest/SitePages/OnsiteClearance/ClearanceHome.aspx">Onsite
                    Clearance Tool</a></li>
                <li><a href="https://kyoyu.nectechnologies.in/sites/BU/IT/Covid/SitePages/Home.aspx">Covid Permit</a>
                <li><a href="https://morpheusdev.service-now.com/sp">Courier Management</a>
                  <li><a href="https://morpheusdev.service-now.com/sp">Material Management</a>
                </li>
              </ul>
            </li>
            <li class="dropdown icon">
              <a href="#">HR</a>

              <ul class="drop-nav">
                <li><a routerLink="/hr">Dashboard</a></li>
                <li><a href="https://kyoyu.nectechnologies.in/FBI%20Documents/Forms/AllItems.aspx">FBI Documents</a>
                </li>
                <li><a href="https://nti.peoplestrong.com/altLogin.jsf">EX- NTI ESS Payroll</a></li>
                <li><a href="https://performancemanager10.successfactors.com/login?company=C0016585093P#/login">SAP
                    SuccessFactors</a></li>
                <li><a href="https://kyoyu.nectechnologies.in/sites/EmployeeEnablement">Employee Enablement System</a>
                </li>
                <li><a href="http://172.30.63.156/CATS/">Attendance Tracking System(CATS)</a></li>
                <li class="flyout">
                  <a href="#">Feedback</a>
                  <ul class="flyout-nav">
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/Portals/HR/YourBuddyFeedback/Pages/default.aspx">Your
                        Buddy's Feedback</a></li>
                    <li><a href="https://kyoyu.nectechnologies.in/sites/Portals/Pages/TownHallFeedback.aspx">Townhall
                        Feedback</a></li>
                    <li><a href="http://kyoyu.nectechnologies.in:3920/HRFeedbackEvent">HR Event Feedback</a></li>
                    <li><a href="https://kyoyu.nectechnologies.in/sites/Training/SitePages/Feedback.aspx">Training
                        Feedback</a></li>
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/Portals/HR/InductionForm/Pages/InductionFeedbackForm.aspx">Induction
                        Feedback</a></li>
                  </ul>
                </li>
                <li class="flyout">
                  <a href="#">Gakkou</a>
                  <ul class="flyout-nav">
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/ReskillingSession/SitePages/ReskillingSessionAttendance.aspx">GEAR(Up)</a>
                    </li>
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/Portals/GAKKOUCalendar/Forms/AllItems.aspx">Gakkou
                        Calendar</a></li>
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/GakkouTraining/SitePages/GakkouTraining.aspx">Gakkou
                        Program Feedback</a></li>
                    <li><a href="https://kyoyu.nectechnologies.in/sites/Portals/Pages/managerfeedback.aspx">Gakkou
                        Program
                        Feedback for Managers</a></li>

                  </ul>
                </li>
                <li><a
                    href="https://kyoyu.nectechnologies.in/sites/Portals/competency/Forms/AllItems.aspx">Competency</a>
                </li>
                <li><a
                    href="https://kyoyu.nectechnologies.in/sites/Portals/Training%20Calendars/Forms/AllItems.aspx">Training
                    Calendars</a></li>
                <li class="flyout">
                  <a href="#">Employee Consent</a>
                  <ul class="flyout-nav">
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/BU/IT/EmpConsent/SitePages/EmpConsent.aspx">Employee
                        Consent</a></li>
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/BU/IT/EmpConsent/SitePages/Report.aspx">Reports(Admin)</a>
                    </li>

                  </ul>
                </li>
                <li><a
                    href="https://kyoyu.nectechnologies.in/sites/BU/HR/Nine%20Block%20Toolkit/Forms/AllItems.aspx">Nine
                    Block Toolkit</a></li>
                <li><a
                    href="https://kyoyu.nectechnologies.in/sites/Portals/PMS%20and%20Comp%20Calendar/Forms/AllItems.aspx">PMS
                    and Comp Calendar</a></li>
                <li><a href="https://kyoyu.nectechnologies.in/sites/BU/HR/SitePages/NineBlock.aspx">Nine Block
                    Evaluation</a></li>
                <li><a href="https://kyoyu.nectechnologies.in/sites/BU/HR/HR%20Announcement/Forms/AllItems.aspx">HR
                    Announcements</a></li>
                <li><a
                    href="https://kyoyu.nectechnologies.in/sites/BU/HR/Competency%20Assessment/Forms/AllItems.aspx">Talent
                    Transformation</a></li>
                <li><a href="https://apps.nectechnologies.in:8443/NECCompetency/taggingHome">Competency Assesment</a>
                </li>
                <li><a
                    href="https://kyoyu.nectechnologies.in/sites/Portals/HR/Documents/Human%20Resources%20Annual%20Calendar_FY'21.pdf">HR
                    Annual calendar FY 21-22</a></li>
                <li><a href="https://kyoyu.nectechnologies.in/sites/Portals/Referral/Forms/AllItems.aspx">Referral</a>
                </li>
                <li><a href="https://apps.nectechnologies.in:8443/edu/#/login?UN=a29tYWwudGFra2Fy">Prime Staff Change
                    Manager</a></li>
                <li><a href="https://kyoyu.nectechnologies.in/sites/BU/HR/SitePages/CovidVaccination.aspx">Covid -19
                    Vaccination Drive</a></li>
                <li><a
                    href="https://vendorskillmanagement.nectechnologies.in:3443/SignIn.aspx?UN=a29tYWwudGFra2Fy">Vendor
                    Skill Management</a></li>
                <li><a href="https://apps.nectechnologies.in:8443/pulse/login?UN=a29tYWwudGFra2Fy">Pulse</a></li>
                <li><a href="https://kyoyu.nectechnologies.in/sites/BU/HR/SitePages/CovidVaccinationDetails.aspx">Covid
                    Vaccination Details</a></li>
                <li><a
                    href="https://kyoyu.nectechnologies.in/sites/Portals/SiteAssets/Human%20Resources%20Annual%20Calendar_FY22-23.pdf">HR
                    Annual calendar FY 22-23</a></li>


              </ul>
            </li>
            <li class="dropdown icon">
              <a href="#">IT</a>
              <ul class="drop-nav">
                <li><a routerLink="/it">Dashboard</a></li>
                <!-- <li><a href="#">Cab Management System</a></li> -->
                <li class="flyout">
                  <a href="#">Manuals</a>
                  <ul class="flyout-nav">
                    <li><a href="https://kyoyu.nectechnologies.in/sites/Portals/Manual/OneDrive%20Manual.pdf">One
                        Drive</a></li>
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/Portals/Shared%20Documents/NTIChiketto/User%20Training%20Ver.pptx">NECI
                        Helpdesk Training</a></li>
                    <li><a href="https://kyoyu.nectechnologies.in/sites/Portals/MFA_Documents/Forms/AllItems.aspx">MFA
                        Documents</a></li>
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/Portals/Shared%20Documents/IT%20INDUCTION%20PPT%202020%20version%202.0.PPTX">Induction</a>
                    </li>
                    <li class="flyout">
                      <a href="#">VPN</a>
                      <ul class="flyout-nav">
                        <li><a
                            href="https://kyoyu.nectechnologies.in/sites/Portals/Shared%20Documents/Cisco%20VPN%20installation%20manual.pdf">Cisco
                            Duo VPN Installation Manual</a></li>
                        <li><a
                            href="https://kyoyu.nectechnologies.in/sites/Portals/Shared%20Documents/VPN%20FAQ.pdf">VPN
                            FAQ</a></li>
                        <li><a
                            href="https://kyoyu.nectechnologies.in/sites/Portals/Shared%20Documents/VPN%20access%20request%20process.pdf">VPN
                            Access Request Process</a></li>
                      </ul>
                    </li>
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/Portals/Shared%20Documents/PST%20Creation%20-%202016%2C%202013%20%26%202010.pdf">PST
                        Creation</a></li>
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/Portals/Shared%20Documents/Windows%20Password%20Reset%20Manual.pdf">Window
                        Password Reset</a></li>
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/Portals/Shared%20Documents/Email%20password%20reset%20Manual.pdf">Email
                        Password Reset</a></li>
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/Portals/Shared%20Documents/GID%20password%20update%20Manual.pdf">GID
                        Password Update</a></li>
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/Portals/Shared%20Documents/Closed%20Connection%20Process.pdf">Closed
                        Connection Process</a></li>
                    <li><a href="https://kyoyu.nectechnologies.in/sites/Portals/Pages/Intunes.aspx">Intunes</a></li>
                  </ul>
                </li>
                <li><a href="https://utilitytool.nectechnologies.in/">Password Reset Link</a></li>
                <li><a href="https://kyoyu.nectechnologies.in/Lists/EmployeeDetails/newform.aspx">Employee Details</a>
                </li>
                <li><a href="https://kyoyu.nectechnologies.in/sites/BU/IT/SitePages/Indefend_DB.aspx">Productivity
                    Dashboards</a></li>
                <li><a href="https://kyoyu.nectechnologies.in/sites/BU/IT/SitePages/Patching_Dashboard.aspx">Patching
                    Dashboard</a></li>
                <li><a href="https://kyoyu.nectechnologies.in/sites/BU/IT/SitePages/WorkorderClearance.aspx">Workorder
                    Clearance</a></li>
                <li><a
                    href="https://kyoyu.nectechnologies.in/sites/BU/IT/PrivilegeAccessUndertaking/SitePages/PrivilegeAccessUndertaking.aspx">NDA
                    eSign</a></li>
                <li class="flyout">
                  <a href="#">IT-BU Syncup</a>
                  <ul class="flyout-nav">
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/Portals/Public%20Solution/Forms/AllItems.aspx">Public
                        Solution</a></li>
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/Portals/Smart%20Automation/Forms/AllItems.aspx">Smart
                        Automation</a></li>
                    <!-- <li><a href="#">VPN Access Request Process</a></li> -->
                  </ul>
                </li>
                <li><a href="https://kyoyu.nectechnologies.in/sites/Portals/SiteAssets/IT%20Structure%20Comm.pdf">IT
                    Team
                    Structure</a></li>
                <li><a href="https://apps.nectechnologies.in:8443/pledge-portal/">Vendor Management</a></li>
                <li><a
                    href="https://kyoyu.nectechnologies.in/sites/Portals/Shared%20Documents/Implementation%20of%20IT%20Security%20Policies.pdf">Security
                    Protocol</a></li>
                <li><a
                    href="https://kyoyu.nectechnologies.in/sites/BU/IT/SiteAssets/StarterKit/StarterKitHome.html">User's
                    Starter Kit</a></li>
              </ul>
            </li>
            <!-- <li><a href="#">Dashboard</a></li> -->
            <li class="dropdown icon">
              <a href="#">Finance</a>
              <ul class="drop-nav">
                <li class="flyout">
                  <a href="#">Travel Management System</a>
                  <ul class="flyout-nav">
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/TravelManagementSystem/SitePages/TravelSystem.aspx">TMS
                        Home</a></li>
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/TravelManagementSystem/SitePages/TravelReqHome.aspx">Travel
                        Request</a></li>
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/TravelManagementSystem/SitePages/TravelAdvanceHome.aspx">Travel
                        Advance</a></li>
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/TravelManagementSystem/SitePages/TravelSettlement/RequestTSS.aspx">Travel
                        Settlement</a></li>
                  </ul>
                </li>
                <li><a
                    href="https://kyoyu.nectechnologies.in/sites/TravelManagementSystem/SitePages/TravelSettlement/RequestTSS.aspx">SAM</a>
                </li>
                <li><a href="https://my302078.sapbydesign.com/">SAP ByD Login</a></li>
                <li><a
                    href="https://kyoyu.nectechnologies.in/sites/Finance/ExpenseClaimSystem/SitePages/ExpenseHome.aspx">Expense
                    Claim System</a></li>
                <li><a href="https://kyoyu.nectechnologies.in/sites/DataCard">Data Card Management System</a></li>
                <li><a href="https://ep.g1.nec.co.jp/irj/portal">SAP G1</a></li>
                <li><a href="http://172.30.48.4:1002/Login.aspx">Pipeline Management</a></li>
                <li><a href="https://apps.nectechnologies.in:8443/invoice-automation/?UN=a29tYWwudGFra2Fy">Invoice QR
                    Code</a></li>
                <li><a
                    href="https://kyoyu.nectechnologies.in/sites/Finance/TDSCertificate_Form16ARepository/Forms/AllItems.aspx">TDS
                    & TCS Certification</a></li>
                <li class="flyout">
                  <a href="#">Policies & Processes</a>
                  <ul class="flyout-nav">
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/BU/Finance/Finance%20Policies/Forms/AllItems.aspx">Finance
                        Policies</a></li>
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/BU/Finance/Process%20Narratives/Forms/AllItems.aspx">Process
                        Narratives</a></li>
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/BU/Finance/RCMRiskControlMatrix/Forms/AllItems.aspx">RCM(Risk
                        Control Matrix)</a></li>
                  </ul>
                </li>
                <li><a
                    href="https://kyoyu.nectechnologies.in/sites/BU/Finance/ISSCProcessesTemplates/Forms/AllItems.aspx">ISSC
                    Processes & Templates</a></li>
                <li><a href="https://morpheusdev.service-now.com/sp">Bid Management</a></li>
              </ul>
            </li>
            <li class="dropdown icon">
              <a href="#">Quality</a>
              <ul class="drop-nav">
                <li><a href="https://kyoyu.nectechnologies.in/sites/BUHealthCard">BU-Health Card</a></li>
                <li><a
                    href="https://stsportal-new.nectechnologies.in/sites/QualityPortal/SitePages/QualityHome.aspx">Quality
                    Portal</a></li>
                <li><a href="https://kyoyu.nectechnologies.in/sites/PQIPortal">PQI Portal</a></li>
                <li><a href="https://kyoyu.nectechnologies.in/sites/Prism/SitePages/Home.aspx">PriSM - Process
                    Improvement
                    and Suggestion Management</a></li>
                <li><a href="http://smartmergence.nectechnologies.in:8080/">JIRA(Smart Mergence)</a></li>
                <li><a href="https://ntil-svn-u1:18080/svn">Subversion-Configuration Management Tool</a></li>
                <li><a href="https://testlink.nectechnologies.in/testlink/login.php">Test Link</a></li>
                <li><a href="https://apps.nectechnologies.in:8443/PSQ">Personal Software Quality</a></li>
                <li><a href="https://jira.nectechnologies.in/">JIRA-WBRT(New)</a></li>
                <li><a
                    href="https://kyoyu.nectechnologies.in/sites/BU/Quality/JIRAWBRTSM/JIRA-WBRT-SM-Guidlines.pdf">JIRA-WBRT
                    Guideline</a></li>
              </ul>
            </li>
            <li class="dropdown icon">
              <a href="#">SCM</a>
              <ul class="drop-nav">
                <li class="flyout">
                  <a href="#">Purchase</a>
                  <ul class="flyout-nav">
                    <li><a href="http://stsportal-new.nectechnologies.in/purchase/_layouts/15/viewlsts.aspx">Document
                        Management System</a></li>
                    <li><a href="https://kyoyu.nectechnologies.in/sites/Purchase/ProcurementReviewSystem">Procurement
                        Review System</a></li>
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/Purchase/ContractProcessing/SitePages/ContractHome.aspx">Contract
                        Processing System</a></li>
                    <li><a href="https://vendorms.nectechnologies.in:2024/SignIn.aspx?UN=a29tYWwudGFra2Fy">Vendor
                        Management System</a></li>
                  </ul>
                </li>
                <li><a
                    href="https://kyoyu.nectechnologies.in/sites/BU/SCM/Vendor%20Partnership%20Agreements/Forms/AllItems.aspx">Central
                    Repository of Partnership Agreement</a></li>
                <li><a
                    href="https://kyoyu.nectechnologies.in/sites/Purchase/Audit%20Documents/Forms/AllItems.aspx">Central
                    Reporsitory for Audit Documents</a></li>
              </ul>
            </li>
            <li class="dropdown icon">
              <a href="#">Marcom</a>
              <ul class="drop-nav">
                <li><a href="https://meetingmanagement.nectechnologies.in:4443/Home.aspx">Meeting Management System</a>
                </li>
                <li class="flyout">
                  <a href="#">Corporate Document Management</a>
                  <ul class="flyout-nav">
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/Portals/Communication%20SPOC/Forms/AllItems.aspx">Communictaion
                        SPOC</a></li>
                    <li><a
                        href="https://stsportal-new.nectechnologies.in/corporatedocuments/COMPANY%20PROFILE%20DOCUMENTS/Forms/AllItems.aspx">Company
                        Profile Documents</a></li>
                    <li><a href="https://kyoyu.nectechnologies.in/DocumentsLibrary/Forms/AllItems.aspx">Knowledge
                        Material</a></li>
                    <li><a
                        href="http://nti-it-p-ky-ap:1111/Environmental%20Management%20%20Compliance%20%20NECTI/Forms/AllItems.aspx">Environmental
                        Management & Complinace</a></li>
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/Portals/PresentationTemplate/Forms/AllItems.aspx">Presentation
                        Template</a></li>
                    <li><a
                        href="https://kyoyu.nectechnologies.in/sites/Portals/Shared%20Documents/Corporate%20Deck%202022.pdf">Corporate
                        Deck 2022</a></li>
                  </ul>
                </li>
                <li><a href="https://login.salesforce.com/">Salesforce</a></li>
                <li><a href="https://kyoyu.nectechnologies.in/Lists/AskManagement/NewForm.aspx">Ask Management</a></li>
                <li><a href="https://kyoyu.nectechnologies.in/SitePages/Saleskitimageslinks.aspx">Saleskit</a></li>
                <li><a href="https://kyoyu.nectechnologies.in/sites/BU/corporate/Pages/NISF-Pictures.aspx">NISF Picture
                    Gallery</a></li>
                <li><a href="https://kyoyu.nectechnologies.in/OrgCertificates/Forms/AllItems.aspx">Organisation
                    Certifications</a></li>
                <li><a href="https://kyoyu.nectechnologies.in/TemplateYear2021/Forms/AllItems.aspx">Template Year
                    2021</a>
                </li>
              </ul>
            </li>
            <li class="dropdown icon">
              <a href="#">Training</a>
              <ul class="drop-nav">
                <li><a href="https://kyoyu.nectechnologies.in/sites/BU/HR/SitePages/LMS.aspx">LMS</a></li>
              </ul>
            </li>
            <li class="dropdown icon">
              <a href="#">Engineering</a>
              <ul class="drop-nav">
                <li><a href="https://kyoyu.nectechnologies.in/Pages/EngineeringTools.aspx">Engineering Tools</a></li>
                <li><a href="https://kyoyu.nectechnologies.in/sites/Portals/Pages/OTC.aspx">OSS Technology Centre</a>
                </li>
                <li><a
                    href="https://kyoyu.nectechnologies.in/sites/BU/NECTI5G/NECTI5GForum/Lists/Community%20Discussion/Allitems.aspx">NECCI
                    5G Forum</a></li>
                <li><a
                    href="https://kyoyu.nectechnologies.in/sites/BU/HR/Engineering%20Announcement/Forms/AllItems.aspx">Engineering
                    Announcements</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </header>
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">


      </div>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item dropdown d-flex">
          <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center"
            id="messageDropdown" href="#" data-toggle="dropdown">
            <i class="typcn typcn-message-typing"></i>
            <!-- <span class="count bg-warning">2</span> -->
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
            <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <!-- <img src="images/faces/face4.jpg" alt="image" class="profile-pic"> -->
              </div>
              <div class="preview-item-content flex-grow">
                <h6 class="preview-subject ellipsis font-weight-normal">David Grey
                </h6>
                <p class="font-weight-light small-text mb-0">
                  The meeting is cancelled
                </p>
              </div>
            </a>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <!-- <img src="images/faces/face2.jpg" alt="image" class="profile-pic"> -->
              </div>
              <div class="preview-item-content flex-grow">
                <h6 class="preview-subject ellipsis font-weight-normal">Tim Cook
                </h6>
                <p class="font-weight-light small-text mb-0">
                  New product launch
                </p>
              </div>
            </a>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <!-- <img src="images/faces/face3.jpg" alt="image" class="profile-pic"> -->
              </div>
              <div class="preview-item-content flex-grow">
                <h6 class="preview-subject ellipsis font-weight-normal"> Johnson
                </h6>
                <p class="font-weight-light small-text mb-0">
                  Upcoming board meeting
                </p>
              </div>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown  d-flex">
          <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center"
            id="notificationDropdown" href="#" data-toggle="dropdown">
            <i class="typcn typcn-bell mr-0"></i>
            <!-- <span class="count bg-warning">2</span> -->
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
            aria-labelledby="notificationDropdown">
            <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-warning">
                  <i class="typcn typcn-info-large mx-0"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-normal">Application Error</h6>
                <p class="font-weight-light small-text mb-0">
                  Just now
                </p>
              </div>
            </a>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-warning">
                  <i class="typcn typcn-cog mx-0"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-normal">Settings</h6>
                <p class="font-weight-light small-text mb-0">
                  Private message
                </p>
              </div>
            </a>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-info">
                  <i class="typcn typcn-user-outline mx-0"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-normal">New user registration</h6>
                <p class="font-weight-light small-text mb-0">
                  2 days ago
                </p>
              </div>
            </a>
          </div>
        </li>
        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle  pl-0 pr-0" href="#" data-toggle="dropdown" id="profileDropdown">
            <span class="nav-profile-name">Komal Takkar</span>
            <span class="user-profile">KT</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item">
              <i class="typcn typcn-power"></i>
              Logout
            </a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
        data-toggle="offcanvas">
        <span class="typcn typcn-th-menu" style="color: #1414A0"></span>
      </button>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial -->
    <div class="main-panel">
      <router-outlet></router-outlet>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-center text-sm-left d-block d-sm-inline-block">Copyright © NEC Corporation India Private
            Limited. All rights reserved.</span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>